{% extends 'player/base.html' %}
{% load static %}

{% block title %}Configuration | {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'player/styles/config.css' %}">
{% endblock %}

{% block toolbar_icon %}
  <span class="mdc-toolbar__menu-icon mdc-ripple-surface">
    <a href="javascript:history.back()">
      <i class="material-icons">arrow_back</i>
    </a>
  </span>
{% endblock %}

{% block content %}
  <div id="config" class="mdc-layout-grid">
    <h1 class="mdc-typography--display1">
      Configuration
    </h1>
    <form action="" method="POST">
      {% csrf_token %}
      <section class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div>
            <h2 class="mdc-typography--headline">
              <i class="material-icons">filter</i>
            </h2>
          </div>
          <div>
            <h2 class="mdc-typography--headline">
              Type
            </h2>
            <div class="mdc-select" id="select-menu" role="listbox" data-mdc-auto-init="MDCSelect">
              <div class="mdc-select__surface" tabindex="0">
                <div class="mdc-select__label">
                  Player type
                </div>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
                <input type="text" id="player-type" name="player-type" value="cloud_cover" hidden>
              </div>
              <div class="mdc-menu mdc-select__menu">
                <ul class="mdc-list mdc-menu__items">
                  <li class="mdc-list-item" role="option" tabindex="0" aria-selected>
                    Cloud cover
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div>
            <h2 class="mdc-typography--headline">
              <i class="material-icons">date_range</i>
            </h2>
          </div>
          <div>
            <h2 class="mdc-typography--headline">
              Date and time
            </h2>
            
            <h3 class="mdc-typography--subheading2">
              Start
            </h3>
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
              <input class="mdc-text-field__input"
                      type="date"
                      id="start-date"
                      name="start-date"
                      value="2018-01-01" required>
              <label class="mdc-floating-label" for="start-date">
                Date
              </label>
              <div class="mdc-line-ripple"></div>
            </div>
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
              <input class="mdc-text-field__input"
                     type="time"
                     id="start-time"
                     name="start-time"
                     value="00:00" required>
              <label class="mdc-floating-label" for="start-time">
                Time
              </label>
              <div class="mdc-line-ripple"></div>
            </div>
            
            <h3 class="mdc-typography--subheading2">
              End
            </h3>
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
              <input class="mdc-text-field__input"
                      type="date"
                      id="end-date"
                      name="end-date"
                      value="2018-01-01" required>
              <label class="mdc-floating-label" for="end-date">
                Date
              </label>
              <div class="mdc-line-ripple"></div>
            </div>
            <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
              <input class="mdc-text-field__input"
                      type="time"
                      id="end-time"
                      name="end-time"
                      value="00:00" required>
              <label class="mdc-floating-label" for="end-time">
                Time
              </label>
              <div class="mdc-line-ripple"></div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div>
            <h2 class="mdc-typography--headline">
              <i class="material-icons">crop_free</i>
            </h2>
          </div>
          <div>
            <h2 class="mdc-typography--headline">
              Region
            </h2>
            <canvas id="region-canvas"></canvas>
            <input type="text" id="lat-start-ratio" name="lat-start-ratio" hidden>
            <input type="text" id="lat-end-ratio" name="lat-end-ratio" hidden>
            <input type="text" id="long-start-ratio" name="long-start-ratio" hidden>
            <input type="text" id="long-end-ratio" name="long-end-ratio" hidden>
          </div>
        </div>
      </section>
      
      <div class="button-container">
        <button class="mdc-button mdc-button--raised"
                type="submit"
                data-mdc-auto-init="MDCRipple">
          Save
        </button>
      </div>
    </form>
  </div>

  {% if is_invalid %}
    <div class="mdc-snackbar"
        aria-live="assertive"
        aria-atomic="true"
        aria-hidden="true">
      <div class="mdc-snackbar__text"></div>
      <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-snackbar__action-button"></button>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'player/scripts/config.js' %}"></script>
  <script>
    var playerTypeMenu = document.getElementById('select-menu');
    var playerSelect = new mdc.select.MDCSelect(playerTypeMenu);
    playerTypeInput = document.getElementById('player-type');
    playerTypeMenu.addEventListener('MDCSelect:change', function() {
      var item = playerSelect.selectedOptions[0];
      switch (item.textContent.trim()) {
        case 'Cloud cover':
          playerTypeInput.value = 'cloud_cover';
          break;
      }
    });
  </script>
  {% if is_invalid %}
    <script>
      mdc.snackbar.MDCSnackbar.attachTo(document.querySelector('.mdc-snackbar'))
        .show({
          message: 'The date and time range is invalid',
          timeout: 5000,
          actionText: 'Dismiss',
          actionHandler: function(){}
        });
    </script>
  {% endif %}
  </script>
{% endblock %}
