{% extends 'player/base.html' %}

{% block title %}Configuration | {% endblock %}

{% block content %}
<div id="config" class="mdc-layout-grid">
  <h1 class="mdc-typography--display1">Configuration</h1>

  <section class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div>
        <h2 class="mdc-typography--headline">
          <i class="material-icons">filter</i>
        </h2>
      </div>
      <div>
        <h2 class="mdc-typography--headline">Type</h2>
        <div class="mdc-select" role="listbox" data-mdc-auto-init="MDCSelect">
          <div class="mdc-select__surface" tabindex="0">
            <div class="mdc-select__label">Select player type</div>
            <div class="mdc-select__selected-text"></div>
            <div class="mdc-select__bottom-line"></div>
          </div>
          <div class="mdc-menu mdc-select__menu">
            <ul class="mdc-list mdc-menu__items">
              <li class="mdc-list-item" role="option" tabindex="0" aria-selected>
                Cloud cover
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div>
        <h2 class="mdc-typography--headline">
          <i class="material-icons">date_range</i>
        </h2>
      </div>
      <div>
        <h2 class="mdc-typography--headline">Date and time</h2>
        
        <h3 class="mdc-typography--subheading2">Start</h3>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="date" id="start-date" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="start-date">Date</label>
          <div class="mdc-line-ripple"></div>
        </div>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="time" id="start-time" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="start-time">Time</label>
          <div class="mdc-line-ripple"></div>
        </div>
        
        <h3 class="mdc-typography--subheading2">End</h3>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="date" id="end-date" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="end-date">Date</label>
          <div class="mdc-line-ripple"></div>
        </div>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="time" id="end-time" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="end-time">Time</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div>
        <h2 class="mdc-typography--headline">
          <i class="material-icons">crop_free</i>
        </h2>
      </div>
      <div>
        <h2 class="mdc-typography--headline">
          Region
        </h2>
        
        <h3 class="mdc-typography--subheading2">Latitude</h3>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="number" min="-10" max="50" step="0.01" id="latitude-start" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="latitude-start">Start</label>
          <div class="mdc-line-ripple"></div>
        </div>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="number" min="-10" max="50" step="0.01" id="latitude-end" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="latitude-end">End</label>
          <div class="mdc-line-ripple"></div>
        </div>
        
        <h3 class="mdc-typography--subheading2">Longitude</h3>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="number" min="40" max="110" step="0.01" id="longitude-start" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="longitude-start">Start</label>
          <div class="mdc-line-ripple"></div>
        </div>
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
          <input type="number" min="40" max="110" step="0.01" id="longitude-end" class="mdc-text-field__input">
          <label class="mdc-floating-label" for="longitude-end">End</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
    </div>
  </section>
  
  <button class="mdc-button" data-mdc-auto-init="MDCRipple">Reset</button>
  <button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">Save</button>
</div>
{% endblock %}
