{% extends 'player/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'player/styles/play.css' %}">
{% endblock %}

{% block toolbar_controls %}
  <a class="material-icons mdc-toolbar__icon"
     href="/config" alt="Settings" aria-label="Settings">
    settings
  </a>
{% endblock %}

{% block content %}
  <div class="mdc-layout-grid">
    <section id="player-container">
      <canvas id="player"></canvas>
      <div id="player-controls">
        <div>
          <i class="material-icons" id="jump-to-start" onclick="jumpToStart()">skip_previous</i>
          <i class="material-icons" id="play-pause" onclick="playPause()">play_arrow</i>
          <i class="material-icons" id="jump-to-end" onclick="jumpToEnd()">skip_next</i>
        </div>
        <div>
          <i class="material-icons" id="size" onclick="setSize()">fullscreen</i>
          <i class="material-icons" id="speed" onclick="setSpeed()">slow_motion_video</i>
        </div>
      </div>
    </section>

    <section>
      <h2 class="mdc-typography--headline">Current configuration</h2>
      <h3 class="mdc-typography--title">Player type</h3>
      <p class="mdc-typography--body1">
        {% if request.session.player_type == 'cloud_cover' %}
          Cloud cover
        {% endif %}
      </p>
      <h3 class="mdc-typography--title">Time range</h3>
      <h4 class="mdc-typography--subheading2">Start</h4>
      <p class="mdc-typography--body1" id="start-datetime">
        {{ request.session.start_date_time }}
      </p>
      <h4 class="mdc-typography--subheading2">End</h4>
      <p class="mdc-typography--body1" id="end-datetime">
        {{ request.session.end_date_time }}
      </p>
      <h3 class="mdc-typography--title">Selected region</h3>
      <canvas id="region-canvas"></canvas>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'player/scripts/moment.min.js' %}"></script>
  <script>
    var startDateTime = document.getElementById('start-datetime');
    var endDateTime = document.getElementById('end-datetime');
    startDateTime.innerText = moment(startDateTime.innerText).format('LLL');
    endDateTime.innerText = moment(endDateTime.innerText).format('LLL');
  </script>
  <script>
    var canvas = document.getElementById('region-canvas'),
      ctx = canvas.getContext('2d'),
      rect = {};

    canvas.height = canvas.width;

    var latStartRatio = {{ request.session.lat_start_ratio }};
    var latEndRatio = {{ request.session.lat_end_ratio }};
    var longStartRatio = {{ request.session.long_start_ratio }};
    var longEndRatio = {{ request.session.long_end_ratio }};

    ctx.fillStyle = 'rgba(33,150,243,0.4)';

    rect.w = (longEndRatio - longStartRatio) * canvas.width;
    rect.h = (latEndRatio - latStartRatio) * canvas.height;
    rect.startX = longStartRatio * canvas.width;
    rect.startY = latStartRatio * canvas.height;
    ctx.fillRect(rect.startX, rect.startY, rect.w, rect.h);
  </script>
  <script>
    var playerCanvas = document.getElementById('player');
    playerCanvas.height = playerCanvas.width;
    var playerContext = playerCanvas.getContext('2d');

    var image_paths = {{ images | safe }};
    var image_elements = [];
    for (var i = 0; i < image_paths.length; i++) {
      var image = document.createElement('img');
      image.src = image_paths[i];
      image.style.width = playerCanvas.width;
      image.style.height = playerCanvas.height;
      image_elements.push(image);
    }

    var loaded = 0;
    for (var i = 0; i < image_elements.length; i++) {
      image_elements[i].onload = function (e) {
        loaded++;
        if (loaded === image_elements.length)
          draw();
      }
    }

    const baseDelayMilliseconds = 100;
    var delayMilliseconds = baseDelayMilliseconds;

    function draw() {
      counter = 0,
        maxNum = image_elements.length - 1,
        me = this;
        this._draw = function () {
          playerContext.clearRect(0, 0, playerCanvas.width, playerCanvas.height);
          playerContext.drawImage(image_elements[counter], 0, 0);
          counter++;
          if (counter > maxNum)
            return;   // all images have been drawn

        setTimeout(me._draw, delayMilliseconds);    // use me instead of this
      }
      this._draw();
    }

    window.onload = draw;

    var playPauseControl = document.getElementById('play-pause');
    var jumpToStartControl = document.getElementById('jump-to-start');
    var jumpToEndControl = document.getElementById('jump-to-end');
    var sizeControl = document.getElementById('size');
    var speedControl = document.getElementById('speed');

    function playPause() {
      console.log('play / pause');
    }

    function jumpToStart() {
      console.log('jump to start');
    }

    function jumpToEnd() {
      console.log('jump to end');
    }

    function setSize() {
      console.log('set size');
    }

    var speed = '0.25x';
    function setSpeed() {
      var speedModifier = parseFloat(speed.substr(0, speed.length - 1));
      delayMilliseconds = baseDelayMilliseconds / speedModifier;
    }
  </script>
{% endblock %}
