#config section {
  margin-bottom: 2rem;
}

#config .mdc-typography--subheading2 {
  margin-bottom: 0;
}

#config .material-icons {
  vertical-align: middle;
  margin-right: 1rem;
  color: var(--mdc-theme-secondary);
}

#config .mdc-layout-grid__cell > div {
  float: left;
}
