#player-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

#player-frame {
  background-color: #eee;
  width: 512px;
  height: 512px;
  margin: 0 auto;
}

#player-controls {
  background-color: #222;
  color: var(--mdc-theme-text-icon-on-primary);
  width: 512px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  align-content: space-between;
}

#play {
  font-size: 2rem !important;
  vertical-align: bottom;
}

#player-controls div {
  margin: auto;
}
